<div class="analytics-page">

	<%= render "pages/analytics/left_menu" %>

	<div class="charts-wrapper">

		<div class="title-header">
			Number employees
		</div>

		<div class="charts-row">
			<!-- CHART 1:  -->
			<div class="">
				<%= render "pages/analytics/chart_num_employees_per_division" %>
			</div>
			<!-- CHART 2:  -->
			<div class="">
				<%= render "pages/analytics/chart_num_employees_per_nationality" %>
			</div>
		</div>

		<div class="title-header">
			Number employees per division
		</div>

		<div class="charts-row">
			<!-- CHART 3:  -->
			<div class="">
				<%= render "pages/analytics/chart_num_employees_per_nationality_engineering" %>
			</div>
			<!-- CHART 4:  -->
			<div class="">
				<%= render "pages/analytics/chart_num_employees_per_nationality_people" %>
			</div>
		</div>

		<div class="title-header">
			Age analysis
		</div>

		<div class="charts-row">
			<!-- CHART 3:  -->
			<div class="">
				<%= render "pages/analytics/chart_evolution_average_age" %>
			</div>
			<!-- CHART 4:  -->
			<div class="">
				<%= render "pages/analytics/chart_num_employees_per_age_group" %>
			</div>
		</div>

		<div class="title-header">
			New employees evolution
		</div>

		<div class="charts-row">
			<%= render "pages/analytics/chart_new_employees_per_month" %>
		</div>

	</div>

</div>









